body {
  font-family: 'Open Sans', sans-serif;
  font-size: 400%;
  color: white;
  background-image: url('./images/apod.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container-fluid {
  padding: 1em;
}

/*home page*/

.sunmoon-panel {
  margin-top: 1em;
  background-color: rgba(246, 211, 19, 0.7);
  height: 4.5em;
  width: 4.5em;
  padding: .2em;
  border-radius: 1.3em;
  border-color: white;
  border-width: .1em;
  border-style: solid;
}

#sun-icon {
  margin-left: .3em;
  margin-top: .2em;
  height: 1.3em;
  width: auto;
  float: left;
}

#moon-icon img{
  margin-left: .3em;
  margin-top: .2em;
  height: 1.1em;
  width: auto;
  float: left;
}

.panel-text {
  font-size: .5em;
  margin-left: 1.3em;
}

#sunrise {
  margin-top: 10%;
}

.logo {
  height: 1em;
  width: auto;
  margin-left: 27%;
  margin top: 93%;
}

#site-name {
  margin-left: 3%;
  margin-bottom: 3%;
  text-transform: uppercase;
  font-size: 2.5em;
}

#ring input {
  position: fixed;
  left: 65%;
  top: 45%;
  width: 1.5em; height: 1.5em;
}

#cancer { transform: translate(8.5em); }
#leo { transform: rotate(30deg) translate(8.5em) rotate(-30deg); }
#virgo { transform: rotate(60deg) translate(8.5em) rotate(-60deg); }
#libra { transform: rotate(90deg) translate(8.5em) rotate(-90deg); }
#scorpio { transform: rotate(120deg) translate(8.5em) rotate(-120deg); }
#sagittarius { transform: rotate(150deg) translate(8.5em) rotate(-150deg); }
#capricorn { transform: translate(-8.5em); }
#aquarius { transform: rotate(210deg) translate(8.5em) rotate(-210deg); }
#pisces { transform: rotate(240deg) translate(8.5em) rotate(-240deg); }
#aries { transform: rotate(270deg) translate(8.5em) rotate(-270deg); }
#taurus { transform: rotate(300deg) translate(8.5em) rotate(-300deg); }
#gemini { transform: rotate(330deg) translate(8.5em) rotate(-330deg); }

.hover:hover .appear {
    display: block;
}

.appear {
  display: none;
  margin-left: 3%;
  font-size: .8em;
  text-transform: uppercase;
}

#ring span {
  color: #F6D313;
}

/*removes blue box from border*/
input, input:focus{
        border-width: 0em;
        outline: none;
        -webkit-appearance:none;
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
}

/*main page*/

#navbar {
  display: block;
}

#navbar ul {
  margin-top: -1.5%;
}

#navbar li {
  display: inline-block;
  list-style: none;
  padding: .4em;
}

.icons {
  width: 1.3em;
  height: auto;
}

#sun-sign {
  text-transform: uppercase;
}

#blurb {
  display: block;
  margin: 1em;
  margin-top: .7em;
}

#blurb-content {
  font-weight: 100;
}

/*halfmoon*/

#halfmoon img {
  margin-left: 50%;
  margin-top: 75%;
  width: 1.5em; height: 1.5em;
  background-color: #50C5D6;
  border-radius: 1em;
  padding: .3em;
}

#buddha {
  margin-top: -64%;
  transform: rotate(5deg) translate(.8em) rotate(-5deg);
}

#logo {
  margin-top: -43%;
  transform: rotate(5deg) translate(-1.2em) rotate(-5deg);
}

#mudra {
  margin-top: -23%;
  transform: rotate(5deg) translate(.8em) rotate(-5deg);
}

#halfmoon-two img {
  width: 1.5em; height: 1.5em;
  background-color: #50C5D6;
  border-radius: 1em;
  padding: .3em;
  float: right;
}

@media (min-width: @screen-sm-min) {
}


@media (min-width: @screen-md-min) {
  #ring input {
    position: fixed;
    left: 65%;
    top: 45%;
    width: 1.5em; height: 1.5em;
  }

  #cancer { transform: translate(6em); }
  #leo { transform: rotate(30deg) translate(6em) rotate(-30deg); }
  #virgo { transform: rotate(60deg) translate(6em) rotate(-60deg); }
  #libra { transform: rotate(90deg) translate(6em) rotate(-90deg); }
  #scorpio { transform: rotate(120deg) translate(6em) rotate(-120deg); }
  #sagittarius { transform: rotate(150deg) translate(6em) rotate(-150deg); }
  #capricorn { transform: translate(-6em); }
  #aquarius { transform: rotate(210deg) translate(6em) rotate(-210deg); }
  #pisces { transform: rotate(240deg) translate(6em) rotate(-240deg); }
  #aries { transform: rotate(270deg) translate(6em) rotate(-270deg); }
  #taurus { transform: rotate(300deg) translate(6em) rotate(-300deg); }
  #gemini { transform: rotate(330deg) translate(6em) rotate(-330deg); }
}
