body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  color: white;
  background-image: url('./images/apod.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  padding: 40px;
}

.icon {
  width: 100px;
  height: 100px;
}

#date {
  font-size: 30px;
  text-align: right;
}

.moon {
  text-align: left;
  font-size: 20px
}

.circle-container a {
    display: block;
    position: absolute;
    top: 60%; left: 60%;
    width: 4em; height: 4em;
    margin: -2em;
}

.circle-container img { display: block; width: 40%; }
.deg0 { transform: translate(4.5em); }
.deg30 { transform: rotate(30deg) translate(4.5em) rotate(-30deg); }
.deg60 { transform: rotate(60deg) translate(4.5em) rotate(-60deg); }
.deg90 { transform: rotate(90deg) translate(4.5em) rotate(-90deg); }
.deg120 { transform: rotate(120deg) translate(4.5em) rotate(-120deg); }
.deg150 { transform: rotate(150deg) translate(4.5em) rotate(-150deg); }
.deg180 { transform: translate(-4.5em); }
.deg210 { transform: rotate(210deg) translate(4.5em) rotate(-210deg); }
.deg240 { transform: rotate(240deg) translate(4.5em) rotate(-240deg); }
.deg270 { transform: rotate(270deg) translate(4.5em) rotate(-270deg); }
.deg300 { transform: rotate(300deg) translate(4.5em) rotate(-300deg); }
.deg330 { transform: rotate(330deg) translate(4.5em) rotate(-330deg); }
