body {
  font-family: 'Cormorant Garamond', serif;
  font-size: 50px;
  color: white;
  background-image: url('./images/apod.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container-fluid {
  padding: 40px;
}

.icon {
  width: 100px;
  height: 100px;
}

#date {
  font-size: 30px;
  text-align: right;
}

.moon {
  text-align: left;
  font-size: 20px
}
